<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" 
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="module">
    <div class="module-docheader">
        <div class="typo3-docheader-functions">
            <div class="module-docheader-bar module-docheader-bar-navigation">
                <div class="module-docheader-bar-column-left">
                    <f:be.buttons.csh />
                    <f:be.menus.actionMenu>
                        <f:be.menus.actionMenuItem label="Overview" controller="Admin" action="list" />
                    </f:be.menus.actionMenu>
                </div>
                <div class="module-docheader-bar-column-right">
                    <f:be.pagePath />
                    <f:be.pageInfo />
                </div>
            </div>
        </div>
    </div>
    <div class="module-body">
        <f:flashMessages />
        <f:render section="content" />
    </div>
</div>
</html>
